#abordagem{
    margin: 30px 30px;
}

#esquerda_abordagem img{
    height: 650px;
}

#direita_abordagem{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#direita_abordagem h1{
    text-align: left;
}

@media screen and (max-width: 1170px){
    #abordagem{
        margin: 0px 0px;
    }
    #direita_abordagem h1{
        font-size: 31px;
        text-align: center;
    }
}