#como_funciona{
    display: flex;
    background-color: #e48b57;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#como_funciona img{
    z-index: 2;
}

#texto{
    align-items: center;
    width: 55%;
    padding: 20px;
}

#texto h1{
    font-size: 35px;
}

#texto p{
    font-size: 17px;
}

@media screen and (max-width: 1170px){
    #texto{
        width: 100%;
    }
}