#quem_sou_eu{
    min-height: 100vh;
}

#esquerda_quem button{
    justify-content: center;
}

#direita_quem{
    width: 5000px;
    height: 650px;
    overflow: hidden;
}

#direita_quem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 150px 150px 0px 150px;
}

@media screen and (max-width: 1170px) {
    #quem_sou_eu h1{
        font-size: 32px;
    }
    
    #esquerda_quem{
        width: calc(100vw - 100px);
        overflow-wrap: break-word;
        order: 2;
    }

    #direita_quem{
        width: calc(100vw - 100px);
        order: 1;
    }

    #direita_quem img{
        border-radius: 10px;
    }
}