@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Onest:wght@100..900&family=Quicksand:wght@300..700&display=swap');

 * {
    font-family: "Onest", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    overflow: scroll;
    height: 100%;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #efbf99;
}

h1{
    color: #591b04;
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
}

section{
    padding: 30px 6%;
}

p{
    text-align: justify;
    font-size: 18px;
}

a{
    text-decoration: none;
}

.btn-default{
    border: none;
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: #8c5a39;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-default a{
    text-decoration: none;
    color: black;
}

.colunas{
    display: flex;
    gap: 30px;
}

.subtitulo{
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 1170px){
    .colunas{
        display: grid;
        justify-content: center;
    }
}